.App {
  max-width: 1250px;
  margin: 0 auto;
}
.App-header {
  display: flex;
  flex-direction: row;
  color: white;
  border-bottom: 2px solid white;
  margin-top: 15px;
  justify-content: space-between;
}

body {
  background-color: #282c34;
  color: white;
}

.form-input {
  display: inline;
}

.btn-default {
  margin: 5px;
  padding: 10px;
}

.btn-clicked {
  background-color: #004ba1;
  color:aliceblue
}


.btn-primary{
  margin: 5px;
}

.allocation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.allocation-container > div {
  width: calc(50% - 20px); /* Adjust the width of each tile with padding */
  padding: 10px;
  box-sizing: border-box;
}

.allocation-tile {
  border: 2px solid #39a5ed;
  margin: 10px;
  min-width: 400px;
  border-radius: 15px;
}

.allocation-tile li {
  list-style: none;
}

.allocation-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.disclaimer{
  margin-top: 25px;
  background-color: #8ed2ff;
  color:#003f86;
  padding: 10px 15px;
  max-width: 500px;
  border-radius: 5px;
}

.getData{
  border-bottom: 1px solid grey
}