.App {
  max-width: 1250px;
  margin: 0 auto;
}
.App-header {
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom: 3px solid white;
}

body {
  background-color: #282c34;
  color: white;
}

.form-input {
  display: inline;
}

.filter-button{
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

.filter-button:hover{
  color: white;
  background-color: black;
}

.filter-button-clicked{
  color: white;
  background-color: black;
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

