.App{
  max-width: 1250px;
  margin: 0 auto;
}
.App-header {
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom: 3px solid white;
}

body{
  background-color:#282c34;
  color: white;
}